<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
  <testsuites>
    <testsuite name="Unit_Test">
      <directory>./tests/src/Unit/</directory>
    </testsuite>
    <testsuite name="Integration_Test">
      <directory>./tests/src/Integration/</directory>
    </testsuite>
    <testsuite name="Functional_Test">
      <directory>./tests/src/Functional/</directory>
    </testsuite>
    <testsuite name="Certification_Test">
      <directory>./tests/src/Certification/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>
  <!-- Filter for coverage reports. -->
  <filter>
    <blacklist>
      <directory>./vendor</directory>
      <directory>./tests</directory>
    </blacklist>
    <whitelist>
      <directory>src</directory>
    </whitelist>
  </filter>
</phpunit>
